$xl: "screen and (min-width: 1200px)";
$lg: "screen and (min-width: 992px)";
$md: "screen and (min-width: 768px)";
$sm: "screen and (min-width: 576px)";

$darkModeColor: #fff;
$darkModeBackground: #181e2b;

$lightModeColor: #444;
$lightModeBackground: #fff;

$lightGreen: rgb(236, 252, 207);
$gradient: linear-gradient(120deg, #fccb90 0%, #d57eeb 100%);

@mixin colorFontGradient {
  background: $gradient;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-weight: 700;
}

@mixin startBasicStyle($delay) {
  transition: all 0.6s;
  transition-delay: $delay;
  opacity: 0;
  transform: translateY(-25px);
}

@mixin finishBasicStyle() {
  opacity: 1;
  transform: translateY(0px);
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  word-wrap: break-word;
  -webkit-tap-highlight-color: transparent;
}

::-webkit-scrollbar {
  background: transparent;
  width: 15px;
  &-thumb {
    box-shadow: inset 0 0 15px 15px rgba(110, 110, 110, 0.4);
    border: solid 5px transparent;
    border-radius: 1.3em;
  }
  &-track {
    box-shadow: inset 0 0 15px 15px transparent;
    border: solid 5px transparent;
  }
}

body {
  width: 100%;
  height: auto;
  min-height: 100vh;
  overflow-x: hidden;
  font-size: 14px;
  font-family: sans-serif;
  @media #{$lg} {
    font-size: 13px;
  }

  @media #{$xl} {
    font-size: 12px;
  }
}

button,
a,
input,
select,
textarea {
  background: transparent;
  font-family: inherit;
  color: inherit;
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

input::placeholder {
  font-family: inherit;
  color: inherit;
}

button:active,
button:focus,
input:active,
input:focus,
select:active,
select:focus,
textarea:active,
textarea:focus {
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

.container {
  position: relative;
  color: $lightModeColor;
  background: $lightModeBackground;
  width: 100%;
  height: 100%;
  min-height: 100vh;

  &--dark {
    color: $darkModeColor;
    background: $darkModeBackground;
  }

  &--blur {
    filter: blur(5px);
    pointer-events: none;
  }
}

.text--light {
  font-weight: 200;
  font-size: 0.9em;
  color: lighten($lightModeColor, 10);
}

.back__button {
  color: lighten($lightModeColor, 10);
  margin-bottom: 0.7em;
  cursor: pointer;
  text-decoration: none;
  i {
    margin-right: 0.3em;
  }

  @media #{$lg} {
    display: none;
  }
}

.section__wrapper {
  width: 100%;
  height: auto;
  min-height: 100vh;
  padding: 1em 1em 6.2em 1em;

  @media #{$sm} {
    padding: 1.5em 2em 6.2em 2em;
  }

  @media #{$md} {
    padding: 1.5em 2em 1.5em 6.5em;
  }
}

.modal {
  position: fixed;
  z-index: 9;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
  color: $lightModeColor;
  background: rgba($lightModeBackground, 0.8);

  display: flex;
  align-items: center;
  justify-content: center;

  @media screen and (max-height: 420px) {
    align-items: flex-start;
    padding-top: 2em;
  }

  &--dark {
    background: rgba($darkModeBackground, 0.9);
    color: $darkModeColor;
    option {
      color: $darkModeBackground;
    }
  }

  &__content {
    padding: 1em;
    text-align: center;

    @media #{$sm} {
      width: 90%;
    }

    @media #{$md} {
      text-align: left;
    }

    @media #{$lg} {
      width: 80%;
    }

    @media #{$xl} {
      width: 70%;
    }
  }

  &__title {
    font-size: 1.8em;
    @include colorFontGradient();
    @include startBasicStyle(0.1s);
    @media #{$md} {
      font-size: 2.2em;
    }
  }

  &__form {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;

    @include startBasicStyle(0.3s);

    @media #{$md} {
      justify-content: space-between;
    }

    &--group {
      flex-direction: column;
      @media #{$md} {
        align-items: flex-start;
      }
    }
  }

  &__input {
    width: 100%;
    padding: 0.7em;
    border-bottom: 1px solid rgba(110, 110, 110, 0.25);
    margin: 2.5em 0.5em 0.5em 0.5em;

    @media #{$md} {
      width: 47%;
      margin: 1em 0em;
      padding: 0.5em;
    }
  }

  &__select {
    margin: 0.5em;
    width: 100%;
    padding: 0.5em;
    border-bottom: 1px solid rgba(110, 110, 110, 0.25);

    @media #{$md} {
      width: 47%;
      margin: 1em 0em;
    }
  }

  &__button {
    background: $gradient;
    border-radius: 1.5em;
    padding: 1em;
    color: $darkModeColor;
    letter-spacing: 1px;
    font-weight: 600;
    margin-top: 2.5em;
    cursor: pointer;
    transition: all 0.1s;

    @media #{$md} {
      padding: 1em 2em;
    }

    &:hover {
      box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15);
    }
  }

  &__file {
    cursor: pointer;
    width: 100%;
    margin: 1em 0.5em;
    padding: 0.7em;
    border-radius: 1.5em;
    border: 1px solid rgba(110, 110, 110, 0.25);
    input[type="file"] {
      display: none;
    }

    @media #{$lg} {
      width: auto;
      padding: 0.7em 1.5em;
    }
  }

  &__text {
    line-height: 1.5;
    padding: 0.5em;
    width: 100%;
  }

  &__close {
    z-index: 5;
    cursor: pointer;
    position: absolute;
    top: 0px;
    left: 0px;
    padding: 1em;
  }
}

.modal__progress {
  z-index: 10;
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0px;
  left: 0px;
  background: rgba($lightModeBackground, 0.95);
  color: $lightModeColor;
  letter-spacing: 1px;
  text-transform: uppercase;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  @include startBasicStyle(0.1s);
}

.modal--dark .modal__progress {
  background: rgba($darkModeBackground, 0.95);
  color: $darkModeColor;
}

.progress__title {
  font-size: 5em;
  line-height: 1.8;
  @include colorFontGradient();
  text-shadow: 0 0 10px rgba(110, 110, 110, 0.4),
    0 0 20px rgba(110, 110, 110, 0.4), 0 0 40px rgba(110, 110, 110, 0.4),
    0 0 60px rgba(110, 110, 110, 0.4);
}

.alerts {
  position: fixed;
  top: 0.5em;
  right: 0.8em;
  z-index: 12;
  width: 250px;
  height: auto;
  text-align: right;
}

.alert_item {
  display: block;
  background: $gradient;
  padding: 1em;
  color: $darkModeColor;
  border-radius: 1em;
  margin-bottom: 1em;
}

.modal.modal--active {
  .modal__title,
  .modal__form,
  .modal__progress {
    @include finishBasicStyle();
  }
}

// NAVBAR SECTION

.navbar {
  z-index: 5;
  position: fixed;
  left: 0px;
  bottom: 0px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;

  background: $lightGreen;
  box-shadow: 0px -1px 2px rgba(80, 80, 80, 0.15);

  @media #{$md} {
    width: 60px;
    height: 100vh;
    top: 0px;
    left: 0px;
    box-shadow: 1px 0px 2px rgba(40, 40, 40, 0.15);
    justify-content: space-between;
  }

  &_logo {
    display: none;
    margin-top: 0.5em;

    &__link {
      display: flex;
      justify-content: center;
      img {
        width: 80%;
        height: auto;
      }
    }

    @media #{$md} {
      display: block;
    }
  }

  &__list {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0.5em 0em;

    @media #{$md} {
      flex-direction: column;
    }
  }

  &__link,
  &__button {
    padding: 0.5em;
    background: transparent;
    cursor: pointer;
    font-size: 1.2em;
    color: lighten($lightModeColor, 20);
    transition: color 0.1s;

    &:hover {
      color: $lightModeColor;
    }

    @media #{$md} {
      font-size: 1em;
    }
  }

  &__link--mobile {
    @media #{$md} {
      display: none;
    }
  }

  &__button--mobile {
    background: $gradient;
    width: 55px;
    height: 55px;
    line-height: 40px;
    text-align: center;
    padding: 0.5em;
    border-radius: 50%;
    transform: translateY(-30px);

    @media #{$md} {
      display: none;
    }
  }
}

// HOME SECTION

.home {
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  flex-direction: column;

  &__content {
    z-index: 2;
  }

  &__title {
    font-size: 3em;
    line-height: 1.2;
    @include colorFontGradient();
    @include startBasicStyle(0.1s);
  }

  &__text {
    line-height: 1.8;
    margin: 0.6em 0em;

    @include startBasicStyle(0.3s);

    @media #{$sm} {
      padding-right: 2em;
    }
  }

  &__link {
    text-decoration: none;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    max-width: 150px;

    @include startBasicStyle(0.5s);

    .stripe {
      width: 1.5em;
      height: 2px;
      background: $gradient;
      display: block;
      margin-right: 0.5em;
    }
  }

  @media #{$md} {
    padding-left: 8em;
    .home__title {
      font-size: 5em;
    }

    .home__text {
      margin: 1.1em 0em 2em 0em;
      line-height: 2;
    }

    .home__link {
      font-size: 1.2em;
      letter-spacing: 1px;
      .stripe {
        transition: width 0.2s;
      }
      &:hover .stripe {
        width: 2.3em;
      }
    }
  }

  @media #{$lg} {
    padding-left: 10em;
    .home__title {
      font-size: 6em;
    }

    .home__text {
      padding-right: 15em;
    }
  }
}

.home.home--active {
  .home__title,
  .home__text,
  .home__link {
    @include finishBasicStyle();
  }
}

.home__background {
  z-index: 0;
  position: absolute;
  right: 0px;
  bottom: 0px;
  height: 100vh;
  width: 100%;
  overflow: hidden;

  .leaf {
    position: absolute;
    max-height: 100vh;
    right: 0px;
    width: 220px;
    height: auto;
    opacity: 0.9;
  }

  .leaf_bottom {
    display: none;
    bottom: 0px;
    right: 0px;
    width: 250px;
    transform: rotate(90deg) translateX(30px);
  }

  .leaf_top {
    top: 0px;
    height: auto;
  }

  @media screen and (min-width: 768px) and (min-height: 650px) {
    .leaf_bottom {
      display: block;
    }
  }

  @media #{$md} {
    .leaf_top {
      width: 270px;
    }
  }

  @media #{$lg} {
    .leaf_top {
      width: 330px;
    }
  }

  @media #{$xl} {
    .leaf_top {
      width: 380px;
    }

    .leaf_bottom {
      display: block;
    }
  }
}

// FILES SECTION

.data_list {
  width: 100%;
  height: auto;
  z-index: 1;
  @media #{$lg} {
    position: fixed;
    width: 300px;
    height: 100vh;
    top: 0px;
    left: 60px;
    overflow-y: scroll;
    padding: 0.7em 1.5em;
    background: darken($lightModeBackground, 1);
    box-shadow: 0px -1px 2px rgba(0, 0, 0, 0.15);
  }
}

.data_list__search {
  display: flex;
  align-items: center;
  padding: 0.5em 0em;

  @include startBasicStyle(0.1s);
}

.data_list__input {
  margin-left: 0.5em;
}

.panel {
  margin: 0.3em 0em 1em 0em;

  &--groups {
    @include startBasicStyle(0.3s);
  }

  &--files {
    @include startBasicStyle(0.6s);
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__title {
    text-transform: capitalize;
    font-weight: 500;
    i {
      margin-right: 0.3em;
    }
  }

  &__button {
    padding: 0.3em;
    cursor: pointer;
  }
}

.panel_empty {
  color: lighten($lightModeColor, 15);
  margin: 0.4em 0em;
}

.panel__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.panel_item {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  margin: 0.5em 0em 0.8em 0em;
  padding: 0.7em;
  border-radius: 0.7em;
  background: darken($darkModeColor, 1);
  color: lighten($lightModeColor, 10);
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s;
  &:hover,
  &--active {
    color: $lightModeColor;
    box-shadow: 0px 8px 13px rgba(0, 0, 0, 0.15);
    transform: scale(1.02);
  }

  &__title {
    line-height: 1.4;
    padding-right: 0.8em;
  }

  @media #{$sm} {
    width: 48%;
  }

  @media #{$lg} {
    width: 100%;
  }
}

.data_item {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 2;
  width: 100%;
  height: auto;
  min-height: 100%;
  background: $lightModeBackground;

  &__header {
    display: flex;
    flex-direction: column;
    line-height: 1.3;
    margin: 0.5em 0em;

    @media #{$lg} {
      line-height: 1.8;
    }
  }

  &__title {
    @include colorFontGradient();
    font-size: 2.2em;
    display: inline;
  }

  &__date {
    margin: 0.4em 0em;
    letter-spacing: 0.85px;
  }

  &__controls {
    display: flex;
  }

  &__button {
    padding: 0.4em;
    margin-right: 0.3em;
    cursor: pointer;
    font-size: 1.1em;
    @media #{$lg} {
      padding: 0.2em;
    }
  }

  @media #{$lg} {
    left: 360px;
    width: calc(100% - 360px);
    padding: 0.7em 2.2em;
  }
}

.group__content,
.file__content {
  margin-top: 0.5em 0em;
  line-height: 1.5;
}

.file__title,
.group__title {
  margin-bottom: 0.3em;
}

.group_list {
  margin: 0.4em 0em;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  &__button {
    width: 48%;
    margin-bottom: 0.7em;
    padding: 0.5em;
    border-radius: 0.7em;
    background: darken($darkModeColor, 1);
    color: lighten($lightModeColor, 10);
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.1s;
    &:hover {
      color: $lightModeColor;
      box-shadow: 0px 8px 13px rgba(0, 0, 0, 0.15);
    }

    @media #{$sm} {
      width: 47%;
      margin: 0.6em 0em;
      padding: 0.7em;
    }

    @media #{$lg} {
      width: 32%;
      margin-right: 0.9em;
    }
  }

  @media #{$lg} {
    justify-content: flex-start;
  }
}

.group__text {
  line-height: 1.7;
  margin: 0.3em 0em;
}

.file__text {
  width: 100%;
  padding: 0.3em 1em 0.3em 0em;
  word-wrap: break-word;
  line-height: 1.8;
}

.group__link {
  cursor: pointer;
  border: 1px solid rgba(110, 110, 110, 0.4);
  padding: 0.6em 2em;
  border-radius: 1em;
  transition: all 0.2s;
  text-decoration: none;
  margin-top: 1em;
  display: inline-block;
  &:hover {
    background: $gradient;
    color: $darkModeColor;
  }
}

.data_list.data_list--active {
  .data_list__search,
  .panel--files,
  .panel--groups {
    @include finishBasicStyle();
  }
}

// EDIT SECTION

.edit {
  width: 100%;
  height: 100vh;
  padding: 1em 0em 6.2em 0em;

  .back__button {
    margin-left: 0.7em;
  }

  &__header {
    padding: 0.8em;
    line-height: 1.2;
    margin-top: 0.6em;
  }

  &__title {
    display: inline-block;
    font-size: 1.6em;
    padding-top: 0.5em;
    @include colorFontGradient();
  }

  &__button {
    z-index: 4;
    position: absolute;
    border: 1px solid rgba(110, 110, 110, 0.4);
    padding: 0.6em 2em;
    border-radius: 1em;
    cursor: pointer;
    top: 1em;
    right: 1em;
    transition: all 0.2s;
    &:hover {
      background: $gradient;
      color: $darkModeColor;
    }
  }

  @media #{$md} {
    padding: 1.5em 2em 1.5em 6.5em;
  }
}

.text_editor {
  width: 100%;
  height: auto;

  &__title {
    padding: 0.2em 0.9em 0.8em 0.9em;
    font-weight: 400;
  }

  &__textarea {
    width: 100%;
    resize: none;
    overflow-y: scroll;
    height: calc(100vh - 265px);
    line-height: 1.6;
    padding: 1em;
    background: transparent;
    color: inherit;
    border-top: 1px solid rgba(110, 110, 110, 0.4);

    @media #{$md} {
      height: calc(100vh - 170px);
      border: 1px solid rgba(110, 110, 110, 0.4);
      border-radius: 1em;
    }
  }
}

//CONNECT FILES

.connect {
  width: 100%;
  padding: 1.5em 2em 1.5em 6.5em;
  height: auto;
  height: auto;
  min-height: 100vh;

  .text_editor {
    margin-top: 1.5em;
    &__title {
      font-size: 0.9em;
      letter-spacing: 1px;
    }

    &__textarea {
      height: calc(100vh - 150px);
      line-height: 1.3;
    }
  }
}

.new_file {
  width: 44%;
  height: 100vh;
  position: fixed;
  top: 0px;
  left: 70px;
  padding: 1em;
  .text--light {
    font-size: 0.9em;
  }

  &__input {
    margin-top: 1.7em;
    border-bottom: 1px solid rgba(80, 80, 80, 0.2);
    padding: 0.5em;
    width: 100%;
  }

  @media #{$lg} {
    width: 46%;
  }
}

.files_list {
  width: 44%;
  position: relative;
  margin-left: 47vw;
  top: 0px;
  right: 1em;
  padding: 1em;
  &__item {
    margin: 0.5em 0em;
    line-height: 1.6;
    text-align: left;
    padding: 0.5em;
    font-size: 0.95em;
  }

  &__title {
    @include colorFontGradient();
    padding: 0.2em;
  }

  &__text {
    line-height: 1.9;
  }

  &__subtitle {
    font-size: 0.95em;
  }

  @media #{$xl} {
    font-size: 1.1em;
    width: 47%;
  }
}

// CONTACT SECTION

.contact {
  line-height: 1.5;
  color: lighten($lightModeColor, 7);
  letter-spacing: 0.85px;

  @media #{$xl} {
    line-height: 1.8;
    font-size: 1.05em;
  }

  &__title {
    @include colorFontGradient();
    display: inline-block;
    font-weight: 700;
    font-size: 3em;

    @include startBasicStyle(0.1s);

    @media #{$xl} {
      font-size: 4em;
      margin-bottom: 0.5em;
    }
  }

  &__wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;

    @media #{$lg} {
      flex-direction: row;
    }
  }

  &__content {
    margin-bottom: 1.2em;
    @include startBasicStyle(0.3s);
    &:nth-child(2) {
      @include startBasicStyle(0.6s);
      @media #{$lg} {
        text-align: right;
      }
    }

    @media #{$lg} {
      width: 50%;
      padding: 0.5em;
    }
  }

  &__copyright {
    @include startBasicStyle(0.7s);
    @media #{$md} {
      position: absolute;
      bottom: 0.5em;
      right: 0.5em;
    }
  }

  &__subtitle {
    font-weight: 400;
    margin: 0.2em 0em;
    @include colorFontGradient();
    @media #{$xl} {
      margin: 0.7em 0em;
    }
  }

  &__links a {
    padding: 0.3em;
    font-size: 1.3em;
    margin: 0.2em;
    display: inline-block;
  }

  &__text {
    margin: 0.2em 0em;
  }

  a {
    text-decoration: none;
    font-weight: 600;
    &:hover {
      color: $lightModeColor;
    }
  }
}

.contact.contact--active {
  .contact__title,
  .contact__content,
  .contact__copyright {
    @include finishBasicStyle();
  }
}


//DARK MODE
.container.container--dark {
  .text--light,
  .back__button {
    color: darken($darkModeColor, 10);
  }

  .navbar {
    background: darken($darkModeBackground, 3);
  }

  .navbar__button,
  .navbar__link {
    color: darken($darkModeColor, 5);
    &:hover {
      color: $darkModeColor;
    }
  }

  .data_list {
    @media #{$lg} {
      background: darken($darkModeBackground, 1);
    }
  }

  .panel_empty {
    margin: 0.4em 0em;
    color: darken($darkModeColor, 15);
  }

  .panel_item {
    background: lighten($darkModeBackground, 2);
    color: darken($darkModeColor, 10);
    &:hover {
      color: $darkModeColor;
    }
  }

  .data_item {
    background: $darkModeBackground;
  }

  .group_list__button {
    background: lighten($darkModeBackground, 2);
    color: darken($darkModeColor, 10);
    &:hover {
      color: $darkModeColor;
    }
  }

  .contact {
    color: darken($darkModeColor, 7);
    a:hover {
      color: $darkModeColor;
    }
  }
}
