@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,900&display=swap&subset=latin-ext");

$xl: "screen and (min-width: 1200px)";
$lg: "screen and (min-width: 992px)";
$md: "screen and (min-width: 768px)";
$sm: "screen and (min-width: 576px)";

$darkModeColor: #fff;
$darkModeBackground: #181e2b;

$lightModeColor: #444;
$lightModeBackground: #fff;
$lightGreen: rgb(236, 252, 207);

$gradient: linear-gradient(120deg, #fccb90 0%, #d57eeb 100%);

@mixin startBasicStyle($delay) {
  transition: all 0.6s;
  transition-delay: $delay;
  opacity: 0;
  transform: translateY(-25px);
}

@mixin finishBasicStyle() {
  opacity: 1;
  transform: translateY(0px);
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  background: transparent;
  width: 15px;
  &-thumb {
    box-shadow: inset 0 0 15px 15px rgba(110, 110, 110, 0.4);
    border: solid 5px transparent;
    border-radius: 1.3em;
  }
  &-track {
    box-shadow: inset 0 0 15px 15px transparent;
    border: solid 5px transparent;
  }
}

body {
  width: 100%;
  height: auto;
  min-height: 100vh;
  overflow-x: hidden;
  font-size: 14px;
  font-family: "PT Sans", sans-serif;
  font-display: fallback;
  @media #{$lg} {
    font-size: 12px;
  }
}

button,
a,
input,
select {
  background: transparent;
  font-family: inherit;
  color: inherit;
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

input::placeholder {
  font-family: inherit;
  color: inherit;
}

button:active,
button:focus,
input:active,
input:focus,
select:active,
select:focus {
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

.container {
  position: relative;
  color: $lightModeColor;
  background: $lightModeBackground;
  width: 100%;
  height: 100%;
  min-height: 100vh;

  &--dark {
    color: $darkModeColor;
    background: $darkModeBackground;
  }

  &--blur {
    filter: blur(5px);
    pointer-events: none;
  }
}

.section__wrapper {
  width: 100%;
  height: auto;
  min-height: 100vh;
  padding: 1em 1em 5.7em 1em;

  @media #{$sm} {
    padding: 2em 3em 5.7em 3em;
  }

  @media #{$md} {
    padding: 3em 3em 3em 7.5em;
  }
}

.modal {
  position: fixed;
  z-index: 10;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  color: $lightModeColor;
  background: rgba($lightModeBackground, 0.8);

  display: flex;
  align-items: center;
  justify-content: center;

  &--dark {
    background: rgba($darkModeBackground, 0.9);
    color: $darkModeColor;
    option {
      color: $darkModeBackground;
    }
  }

  &__content {
    padding: 1em;
    text-align: center;
  }

  &__title {
    font-weight: 900;
    font-size: 1.8em;
    background: $gradient;
    background-clip: text;
    color: transparent;
  }

  &__form {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
  }

  &__input {
    width: 100%;
    padding: 0.7em;
    border-bottom: 1px solid rgba(110, 110, 110, 0.25);
    margin: 2.5em 0.5em 0.5em 0.5em;
  }

  &__select {
    margin: 0.5em;
    width: 100%;
    padding: 0.5em;
    border-bottom: 1px solid rgba(110, 110, 110, 0.25);
  }

  &__button {
    background: $gradient;
    border-radius: 1.5em;
    padding: 1em;
    color: $darkModeColor;
    letter-spacing: 1px;
    font-weight: 600;
    margin-top: 2.5em;
    cursor: pointer;
  }

  &__file {
    cursor: pointer;
    width: 100%;
    margin: 1em 0.5em;
    padding: 0.7em;
    border-radius: 1.5em;
    border: 1px solid rgba(110, 110, 110, 0.25);
    input[type="file"] {
      display: none;
    }
  }

  &__text {
    line-height: 1.5;
    padding: 0.5em;
    width: 100%;
  }

  &__close {
    z-index: 5;
    cursor: pointer;
    position: absolute;
    top: 0px;
    left: 0px;
    padding: 1em;
  }
}

.modal__progress {
  z-index: 10;
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0px;
  left: 0px;
  background: rgba($lightModeBackground, 0.9);
  color: $lightModeColor;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.modal--dark .modal__progress {
  background: rgba($darkModeBackground, 0.9);
  color: $darkModeColor;
}

// NAVBAR SECTION

.navbar {
  z-index: 5;
  position: fixed;
  left: 0px;
  bottom: 0px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;

  background: $lightGreen;
  box-shadow: 0px -1px 2px rgba(80, 80, 80, 0.15);

  @media #{$md} {
    width: 60px;
    height: 100vh;
    top: 0px;
    left: 0px;
    box-shadow: 1px 0px 2px rgba(40, 40, 40, 0.15);
    justify-content: space-between;
  }

  &_logo {
    display: none;
    margin-top: 0.5em;

    &__link {
      display: flex;
      justify-content: center;
      img {
        width: 80%;
        height: auto;
      }
    }

    @media #{$md} {
      display: block;
    }
  }

  &__list {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0.5em 0em;

    @media #{$md} {
      flex-direction: column;
    }
  }

  &__link,
  &__button {
    padding: 0.5em;
    background: transparent;
    cursor: pointer;
    color: inherit;
    font-size: 1.2em;
    color: lighten($lightModeColor, 20);
    transition: color 0.1s;

    &:hover {
      color: $lightModeColor;
    }

    @media #{$md} {
      font-size: 1em;
    }
  }

  &__link--mobile {
    @media #{$md} {
      display: none;
    }
  }

  &__button--mobile {
    background: $gradient;
    width: 55px;
    height: 55px;
    line-height: 40px;
    font-family: serif;
    text-align: center;
    padding: 0.5em;
    border-radius: 50%;
    transform: translateY(-30px);

    @media #{$md} {
      display: none;
    }
  }
}

// HOME SECTION

.home {
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  flex-direction: column;

  &__content {
    z-index: 2;
  }

  &__title {
    font-size: 3em;
    background: $gradient;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    line-height: 1.2;
    font-weight: 700;

    @include startBasicStyle(0.1s);
  }

  &__text {
    line-height: 1.8;
    margin: 0.6em 0em;

    @include startBasicStyle(0.3s);

    @media #{$sm} {
      padding-right: 2em;
    }
  }

  &__link {
    text-decoration: none;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    max-width: 150px;

    @include startBasicStyle(0.5s);

    .stripe {
      width: 1.5em;
      height: 2px;
      background: $gradient;
      display: block;
      margin-right: 0.5em;
    }
  }

  @media #{$md} {
    padding-left: 8em;
    .home__title {
      font-size: 5em;
    }

    .home__text {
      margin: 1.1em 0em 2em 0em;
      line-height: 2;
    }

    .home__link {
      font-size: 1.2em;
      letter-spacing: 1px;
      .stripe {
        transition: width 0.2s;
      }
      &:hover .stripe {
        width: 2.3em;
      }
    }
  }

  @media #{$lg} {
    padding-left: 10em;
    .home__title {
      font-size: 6em;
    }

    .home__text {
      padding-right: 15em;
    }
  }
}

.home.home--active {
  .home__title,
  .home__text,
  .home__link {
    @include finishBasicStyle();
  }
}

.home__background {
  z-index: 0;
  position: absolute;
  right: 0px;
  bottom: 0px;
  height: 100vh;
  width: 100%;
  overflow: hidden;

  .leaf {
    position: absolute;
    max-height: 100vh;
    right: 0px;
    width: 220px;
    height: auto;
    opacity: 0.9;
  }

  .leaf_bottom {
    display: none;
    bottom: 0px;
    right: 0px;
    width: 250px;
    transform: rotate(90deg) translateX(30px);
  }

  .leaf_top {
    top: 0px;
    height: auto;
  }

  @media screen and (min-width: 768px) and (min-height: 650px) {
    .leaf_bottom {
      display: block;
    }
  }

  @media #{$md} {
    .leaf_top {
      width: 270px;
    }
  }

  @media #{$lg} {
    .leaf_top {
      width: 330px;
    }
  }

  @media #{$xl} {
    .leaf_top {
      width: 380px;
    }

    .leaf_bottom {
      display: block;
    }
  }
}

// FILES SECTION

.data_list {
  width: 100%;
  height: auto;
  @media #{$lg} {
    position: fixed;
    width: 300px;
    height: 100vh;
    top: 0px;
    left: 60px;
    overflow-y: scroll;
    padding: 0.7em 1.5em;
    background: darken($lightModeBackground, 1);
    box-shadow: 0px -1px 2px rgba(0, 0, 0, 0.15);
  }
}

.data_list__search {
  display: flex;
  align-items: center;
  padding: 0.5em 0em;
}

.data_list__input {
  margin-left: 0.5em;
}

.panel {
  margin: 0.3em 0em 1em 0em;
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__title {
    text-transform: capitalize;
    font-weight: 500;
    i {
      margin-right: 0.3em;
    }
  }

  &__button {
    padding: 0.3em;
    cursor: pointer;
  }
}

.panel_empty {
  color: lighten($lightModeColor, 15);
  margin: 0.4em 0em;
}

.panel__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.panel_item {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  margin: 0.5em 0em 1em 0em;
  padding: 0.7em;
  border-radius: 0.7em;
  background: darken($darkModeColor, 1);
  color: lighten($lightModeColor, 10);
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  transition: all 0.2s;
  &:hover {
    color: $lightModeColor;
    box-shadow: 0px 8px 13px rgba(0, 0, 0, 0.15);
    transform: scale(1.02);
  }

  &__title {
    line-height: 1.4;
    padding-right: 0.8em;
  }

  @media #{$sm} {
    width: 48%;
  }

  @media #{$lg} {
    width: 100%;
  }
}

.text--light {
  font-weight: 200;
  font-size: 0.9em;
  color: lighten($lightModeColor, 10);
}

//DARK MODE

.container.container--dark {
  .text--light {
    color: darken($darkModeColor, 10);
  }

  .navbar {
    background: darken($darkModeBackground, 3);
  }

  .navbar__button,
  .navbar__link {
    color: darken($darkModeColor, 5);
    &:hover {
      color: $darkModeColor;
    }
  }

  .data_list {
    @media #{$lg} {
      background: darken($darkModeBackground, 1);
    }
  }

  .panel_empty {
    margin: 0.4em 0em;
    color: darken($darkModeColor, 15);
  }

  .panel_item {
    background: lighten($darkModeBackground, 2);
    color: darken($darkModeColor, 10);
    &:hover {
      color: $darkModeColor;
    }
  }
}
